.number-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: max-content;
    margin: 24px auto;
}


.calculator-screen{
    margin: 24px auto;
    height: 50px;
    width: 250px;
    font-size: 25px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

